body{
    background-color: chartreuse;
    margin-left:0px;
}
html{
    font-family: 'Courier New', Courier, monospace;
}
hr{
    font-size: x-large;
    background-color: cornflowerblue;
    width: 1920px;;
}
.index{
    margin-left:8px;
}
.footer{
    display:flex;
    justify-content: flex-start;
}